.corpo{
	width: 960px;
	margin: -125px auto;
}

#titulo{
	margin: 0 0 30px;
	padding: 0;
	text-transform: uppercase;

}

.conteudo-int{
	margin: 0;
	padding: 0;
}

img.borda{
	float: left;
	margin: 0 15px 0 0;
	padding: 5px;
	border: 1px solid #cccccc;
}


